:root {
    --background: #ffffff;
    --dark-primary: #171717;
    --lght-grey: #100f0f;
    --lght-grey-dark: #0e0e0e;
    --heavy-grey: #1a1a1b;
    --grey: #161315;
    --blue: #4862b4;
    --alt-grey: #141414;
    --alt-white: #2a2929;
    --grey1: #111111;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ededed;
    background: #0a0a0a;
}

a {
    color: inherit;
    text-decoration: none;
}
